#wrapper{
	background-color: lightgrey;
	max-width: 960px;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#main{
	width: 50%;
	
	margin-left: auto;
	margin-right: auto;
	float: left;
}

#main h1{
	text-align: center;
}


#leftAside{
	width: 30%;
	
	float: left;
}



nav{
	background-image: URL("https://files.slack.com/files-pri/T2PR2MFLM-F2YTR7R6Y/woodnav.png");
}

nav ul li{
	display: inline;
}

nav ul li:nth-child(2){
	margin-left: 2em;
	margin-right: 2em;
}

nav ul{
	text-align: center;
}

nav a:visited{
	color: white;
}

header{
	
}

header p{
	text-align: center;
}

footer{
	background-image: URL("https://files.slack.com/files-pri/T2PR2MFLM-F2YTR7R6Y/woodnav.png");
	clear:left;
	color:white;
}


table {
    border-collapse: collapse;
   margin-bottom: 2%;
}

table, th, td {
    border: 1px solid black;
}