html {
	font-size: 12pt;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	display: inline;
	float: left;
	padding: 2px;
}

label {
	display: block;
	color: #999;
}

.login input:not([type=submit]) {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid;
	border-radius: 3px;
}

.login input[type=submit] {
	border: 1px solid;
	background: #64c8ef;
	color: #fff;
	padding: 5px 15px;
	border-radius: 3px;
}